@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    box-sizing: border-box;
    list-style-type: none;
}

.nav_box {
    background: #FFF;
    padding-top: 26.88px;
}

.btn_talk {
    padding: 10px 22px 10px 22px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid var(--orange);
    background: var(--orange);
    color: var(--white);
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.home:hover {
    color: var(--orange);
    transition: all 300ms linear;
}

.btn_talk:hover {
    color: var(--orange);
    border: 1px solid var(--orange);
    background: var(--white);
}

.btn_lets {
    padding: 10px 22px 10px 22px;
    gap: 10px;
    border-radius: 5px;
    background: #FFF7F4;
    border: 1px solid black;
    transition: all 300ms linear;
}

.btn_lets:hover {

    border: 1px solid var(--orange);
    color: var(--orange);
}

.line_h_73 {
    line-height: 35px;
    max-width: 602px;
}

.line_h_150 {
    line-height: 30px;
}

.line_h_24 {
    line-height: 24px;
    max-width: 586px;
}

.p-t-159 {
    padding-top: 20px;
}

.line_h_70 {
    line-height: 73.2px;
}

.c_p {
    cursor: pointer;
}

.pt-58 {
    padding-top: 5px;
}

.bg_color1 {
    background: #FFF7F4;
}

.pb_159 {
    padding-bottom: 40px;
}

.line_h_24 {
    line-height: 24px;
}

.line_h_58 {
    line-height: 40.59px;
}

.card {
    border-radius: 10px;
    background: var(--white);
    padding: 30px 20px 20px 25px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    transition: all 300ms linear;
}

.card:hover {
    box-shadow: -1px 6px 15px 15px rgba(0, 0, 0, 0.10);

}

.para_2 {
    max-width: 325px;
}

.pt-120 {
    padding-top: 20px;
}

.pb-120 {
    padding-bottom: 20px;
}

.mt-70 {
    margin-top: 0px !important;
}

.bg-color-2 {
    background: #FFF7F4;
}

.pt-b-129 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.pd-all {
    padding: 15px 45px;
    border-radius: 10px;
    transition: all 300ms linear;
    white-space: nowrap;
}

.links-all a:hover {
    background: var(--orange);
    color: var(--white);
}

.p_l_r {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.orange_box {
    background: rgba(255, 83, 0, 0.75);
    max-width: 266px;
    height: 230px;
    opacity: 0;
    transition: all 400ms linear;
    padding: 63px 35px 64px 45px;
}

.image_box_hover:hover .orange_box {
    opacity: 1;
}

.position-relative-2 {
    position: relative;
}

.position_relative_3 {
    position: relative;
}

.position_absolute_3 {
    position: absolute;
}

.mini-box {
    padding: 11px 20px 15px 19px;
    /* max-width: 125px; */
    height: 100%;
    border-radius: 5px;
    background: var(--Whit, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}
.zoom{
    transition: transform .5s; 

}
.zoom:hover {
    transition: all 300ms linear;
    transform: scale(1.1);
  }

.mr-40 {
    margin-right: 40px;
}

.slick_card {
    /* max-width: 370px; */
    width: 100% !important;
    height: 100%;
    padding: 25px 25px 24px 25px;
    border-radius: 10px;
    background: var(--Whit, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}


.para_3 {
    max-width: 320px;
}

.prev-btn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;

}

.prev-btn:hover {
    border: 1px solid var(--orange);
}

.prev-btn:hover svg path {
    fill: var(--orange);
}

.next-btn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;

}

.next-btn:hover {
    border: 1px solid var(--orange);
}

.next-btn:hover svg path {
    fill: var(--orange);
}

.position_absolute_4 {
    position: absolute;
    top: 55%;
    left: 0%;
}

.slick-track {
    display: flex !important;
    gap: 15px !important;
}

.position_absolute_5 {
    position: absolute;
    top: 55%;
    right: 0%;
}

.space {
    white-space: nowrap;
}

.box_orange {
    width: 100%;
    border-radius: 10px;
    background: var(--orange);
    padding: 69px 56px 69px 60px;
}

.border_r {
    border-right: 3px solid var(--white);
}

.border_r_2 {
    border-right: 3px solid var(--white);
}

.blog_card {
    padding: 15px 15px 30px 15px;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

.para_4 {
    max-width: 340px;
    line-height: 30px;
}

.para_5 {
    max-width: 338px;
    line-height: 24px;
}

.btn-read {
    padding: 13px 23px 12px 22px;
    border-radius: 5px;
    background: var(--orange);
    border: none;
    transition: all 300ms linear;
    border: 1px solid transparent;
}

.btn-read:hover {
    box-shadow: 0px 17px 27px rgba(245, 56, 56, 0.35);
    border: 1px solid var(--orange);
    color: var(--orange);
    background: var(--white);
}

.pt_60 {
    padding-top: 60px !important;
}

.pb_90 {
    padding-bottom: 30px !important;
}

.orange_box_2 {
    width: 100%;
    border-radius: 10px;
    background: var(--orange);
    padding: 30px 15px 30px 15px;
}

.overflow_x_scroll {
    overflow-x: scroll;
}

.white_box {

    max-width: 642px;
    height: 105px;
    border-radius: 5px;
    background: var(--Whit, #FFF);
}

.btn_subscribe {
    padding: 15px 35px 15px 39px;
    border-radius: 5px;
    background: var(--orange);
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.btn_subscribe:hover {
    box-shadow: 0px 17px 27px rgba(248, 247, 247, 0.35);
    border: 1px solid var(--orange);
    background: var(--white);
    color: var(--orange);
}

.footer_bg {
    background-image: url(../images/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.para_6 {
    max-width: 270px;
}

.white_circle {
    max-width: 50px;
    height: 50px;
    padding: 13px 13px 13px 13px;
    background: var(--white);
    border-radius: 50px;
    transition: all 300ms linear;
}

.white_circle:hover svg path {
    fill: var(--orange);
}

.white_circle:hover {
    transform: translateY(-16px);
}

.py-60 {
    padding-top: 56px;
    padding-bottom: 60px;
}

.line {
    width: 100%;
    height: 1px;
    background: var(--white);
}
.c_p{
    cursor: pointer;
}
.ps_100 {
    padding-left: 0px !important;
}

.top-btn {
    width: 58px;
    height: 58px;
    background: var(--orange);
    border-radius: 50px;
}

.position_absolute_7 {
    position: absolute;
    bottom: 0%;
    right: 10%;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 0px !important;
}

::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: antiquewhite;
}

::-webkit-scrollbar-thumb {
    background-color: red !important;
    border-radius: 20px !important;
    width: 10px !important;
}



@media (max-width:1200px) {
    label[for="icon"] {
        height: 30px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 4;
        cursor: pointer;
    }

    label[for="icon"]>span {
        width: 100%;
        background-color: var(--orange);
        height: 5px;
        border-radius: 2px;

    }

    ul.mobile-view {
        background-color: #FFF7F4;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 3;
        transition: all 400ms linear;
    }

    input[type="checkbox"]:checked+ul {
        right: 0;
        gap: 30px;
    }

    ul {
        padding-left: 0 !important;
    }

    .checkbox:checked+label {
        position: fixed;
        right: 0;
    }
}

@media (min-width:992px) {
    .pb_159 {
        padding-bottom: 159px;
    }

    .pt-120 {
        padding-top: 120px;
    }

    .pb-120 {
        padding-bottom: 120px;
    }

    .pt-b-129 {
        padding-top: 125px;
        padding-bottom: 125px;
    }


    .pb_90 {
        padding-bottom: 90px !important;
    }

    .line_h_73 {
        line-height: 73px;
    }

    .line_h_58 {
        line-height: 58.59px;
    }

    .overflow_x_scroll {
        overflow-x: unset;
    }
    .position_absolute_4 {
        position: absolute;
        top: 55%;
        left: 4%;
    }
    .position_absolute_5 {
        position: absolute;
        top: 55%;
        right: 4%;
    }



}

@media (min-width:1200px) {
    .pt-58 {
        padding-top: 110px;
    }

    .p-t-159 {
        padding-top: 159px;
    }
    .position_absolute_4 {
        position: absolute;
        top: 55%;
        left: 1%;
    }
    .position_absolute_5 {
        position: absolute;
        top: 55%;
        right: 1%;
    }
}

@media (max-width:768px) {
    .mt-70 {
        margin-top: 20px !important;
    }
}

@media (min-width:768px) {
    .ps_100 {
        padding-left: 100px !important;
    }
}

@media (max-width:520px) {
    .border_r {
        border: none;
    }
}

@media (max-width:992px) {

    .pt_60 {
        padding-top: 15px !important;
    }

    .box_orange {
        padding: 15px 20px 15px 20px;
    }

    .border_r_2 {
        border: none !important;
    }

}

@media (min-width:576px) {
    .white_box {

        max-width: 642px;
        height: 70px;
        border-radius: 5px;
        background: var(--Whit, #FFF);
    }

    .orange_box_2 {
        width: 100%;
        border-radius: 10px;
        background: var(--orange);
        padding: 51px 40px 51px 40px;
    }
}